$primary-color: rgb(24, 43, 90);
$secondary-color: #0D0D0D;
@font-face {
    font-family: 'LetoSans';
    src: url("../public/fonts/LetoSans/LetoSans-Regular.woff2") format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Muller';
    font-weight: 400;
    src: url('../public/fonts/Muller/MullerRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'Muller';
    font-weight: 500;
    src: url('../public/fonts/Muller/MullerMedium.woff2') format('woff2');
}
@font-face {
    font-family: 'Muller';
    font-weight: 600;
    src: url('../public/fonts/Muller/MullerBold.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap');
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//                              NAVBAR STYLES

.header {
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-title { 
    margin-left: 1.25rem;
    color: $primary-color;
    font-family: "LetoSans", sans-serif;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.nav-btn {
    // width: 37%; //586
    color: #000;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-left: 3rem;
}

.icon {
    height: 50px;
    display: none;
}

//                              MEDIA
@media (max-width: 1366px) {
    .logo-title {
        font-size: 1.1rem;
    }
    .header {
        padding: 5px 40px
    }
    .nav-btn {
        margin-left: 2rem
    }
}


@media (max-width: 1170px) {
    .header {
        padding: 5px 40px
    }
    .nav-btn {
        margin-left: 2rem
    }
}

@media (max-width: 1024px) {
    .header{
        height: 70px;
        padding: 5px 30px 5px 30px;
    }
    .logo-title {
        font-size: 0.9rem;
    }
    .logo-svg{
        width: 30px;
    }
    .nav-btn {
        font-size: 0.9rem;
        margin-left: 1rem
    }
    .header {
        max-width: 100vw;
    }
}

@media (max-width: 890px) {
    .icon {
        display: inline-flex;
    }
    .icon {
        height: 70px;
    }
    .nav{
        display: none;
    }
}

@media (max-width: 480px) {    
    .header{
        padding: 5px 20px 5px 20px;
        height: 50px;
    }
    .logo-title {
        font-size: 0.6rem;
    }
    .logo-svg{
        width: 22px;
    }
    .icon {
        height: 50px;
    }
}

//                              MAIN-BANNER STYLES

.main-banner {
    margin-top: 86px;
    background: url('../public/img/giant-building-with-sun.png')lightgray 50% /  cover no-repeat;
    max-width: 1920px;
    height: 710px;
    padding: 220px 0px 50px 100px;
}

.main-banner-wrapper {
    width: 57rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-banner-title {
    color: $primary-color;
    font-family: Noto Sans;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-banner-button{
    margin-top: 20px;
    font-family: "LetoSans", sans-serif;
    color: $primary-color;
    border: 3px solid $primary-color;
    background: none;
    width: 15rem;
    height: 50px;
}

.main-banner-slider{

    width: 170px;
    height: 4px;
}

//                              MEDIA

@media (max-width: 1366px) {
    .main-banner {
        margin-top: 70px;
    }
    .main-banner-wrapper {
        width: 44rem;
    }
    .main-banner-title {
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
    //FIXME:
}

@media (max-width: 890px) {
    .main-banner {
        padding: 220px 0;
    }
    .main-banner-wrapper {
        width: 100vw;
        height: 440px;
        align-items: center;
    }
    .main-banner-title {
        width: 30rem;
    }
    .main-banner-title-wrapper {

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .main-banner {
        margin-top: 50px;
        display: flex;
        height: 300px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .main-banner-wrapper {
        width: 100%;
        height: 50%;
        align-items: center;

    }
    .main-banner-title {
        font-size: 1rem;
        width: 50vw;
    }
    .main-banner-title-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    .main-banner-button {
        width: 75%;
        height: 40px;
    }
}


//                              ESTATE-BANNER STYLES

.estate-banner {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between; /* Распределение изображений по ширине баннера */
    align-items: center; /* Выравнивание изображений по центру по вертикали */
    overflow: hidden;
    height: 730px;
    background-color: $primary-color;
}

.estate-office {
    z-index: 4;
    position: absolute;
    background-image: url('../public/img/large-office-buildings.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 730px;
    width: 56vw;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
}

.estate-office::before {
    z-index: 4;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 730px;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    width: 56vw;
    background-color: rgba(24, 43, 90, 0.9);
    background-repeat: no-repeat;
  }

.estate-house{
    background: url("../public/img/house-isolated-in-the-field.png") 100% / cover no-repeat;
    background-position: center;
    z-index: 2;
    position: absolute;
    right: 0;
    width: 52vw;
    height: 739px;
    clip-path: polygon(18.3% 0, 100% 0, 100% 100%, 0% 100%);
}

.estate-pattern {
    position: absolute;
    z-index: 2;
    background-image: url('../public/svg/estate_pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;
    height: 135px;
    width: 52vw;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
}

.pattern-first {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    background-image: url('../public/svg/estate_pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;
    height: 135px;
    width: 52vw;
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
}

.pattern-second {
    display: none;
}

.estate-titles{
    z-index: 6;
    color: #FEFEFE;
    font-family: Noto Sans;
    font-size: 35px;
    font-weight: 500;
}

.estate-commertial{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 6;
    left: 11vw;
}

.estate-button {
    width: 320px;
    height: 55px;
    text-transform: uppercase;
    background: none;
    border: 3px solid #FEFEFE;
    color: #FEFEFE;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.estate-residential-title{
    position: absolute;
    right: 13vw;    
    top: 42px;
}

//                              MEDIA

@media (max-width: 1366px) {
    .estate-button {
        display: none;
    }
    .estate-office {
        top: 0;
        height: 600px;
        clip-path: polygon(0 0, 100% 0, 86.5% 100%, 0% 100%);
        width: 57vw;
    }
    .estate-office::before {
        display: none;
    }
    .pattern-second{
        display: inline;
        z-index: 2;
        bottom: 0;
    }
    .estate-titles{
        z-index: 6;
        color: #FEFEFE;
        font-family: Noto Sans;
        font-size: 24px;
        font-weight: 500;
    }
    .estate-commertial{
        bottom: 50px;
        left: 11vw;
    }
    .estate-residential-title{
        position: absolute;
        right: 13vw;    
        top: 50px;
    }
}
@media (max-width: 1024px) {
    .estate-banner {
        height: 330px;
    }
    .estate-button {
        display: none;
    }
    .estate-office {
        top: 0;
        width: 55vw;
        height: 330px;
        clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    }
    .estate-office::before {
        display: none;
    }
    .estate-pattern {
        z-index: 3;
        height: 50px;
        width: 47vw;
    }
    .pattern-second{
        display: inline;
        z-index: 4;
        bottom: 0;
    }
    .estate-titles{
        z-index: 6;
        color: #FEFEFE;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 500;
    }
    .estate-commertial{
        bottom: 15px;
        left: 11vw;
    }
    .estate-residential-title{
        position: absolute;
        right: 13vw;    
        top: 15px;
    }
    .estate-house{
        z-index: 2;
        position: absolute;
        right: 0;
        width: 54vw;
        height: 332px;
        clip-path: polygon(18.3% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 730px) {
    .estate-banner {
        height: 330px;
    }
    .estate-button {
        display: none;
    }
    .estate-office {
        top: auto;
        bottom: 0;
        width: 55vw;
        height: 280px;
        clip-path: polygon(0 0, 91% 0, 91% 100%, 0% 100%);
    }
    .estate-office::before {
        display: none;
    }
    .estate-pattern {
        z-index: 3;
        height: 60px;
        width: 47vw;
        clip-path: none;
    }
    .pattern-first{
        bottom: 0;
        top: auto;
        width: 49vw;
    }
    .pattern-second{
        display: inline;
        z-index: 4;
        bottom:auto;
        top: 0;
        width: 50vw;
    }
    .estate-titles{
        z-index: 6;
        width: 100px;
        text-align: center;
        color: #FEFEFE;
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
    }
    .estate-commertial{
        top: 11px;
        left: 17%;
    }
    .estate-residential-title{
        position: absolute;
        right: 17%;    
        top: auto;
        bottom: 11px;
        height: fit-content;
    }
    .estate-house{
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        width: 54vw;
        height: 280px;
        clip-path: polygon(9% 0, 100% 0, 100% 100%, 9% 100%);
    }
}

//                              ABOUT-SECTION STYLES

.about-section {
    padding: 100px 7vw;
    height: 740px;
}

.about-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img-wrapper {
    display: grid;
    position: relative;;
    grid-template-columns: 30px;
    grid-template-rows: 30px;
    width: 43vw;
    height: 540px;

}

.about-pattern{
    background-image: url("../public/svg/about_pattern.svg");
    width: 41vw;
    height: 510px;
    background-color: $primary-color;
}

.about-img {
    position: relative;
    background: url("../public/img/modern-residential-building.png") 100% / cover no-repeat;
    background-position: center;
    grid-row: 2;
    grid-column: 2;
    width: 41vw;
    height: 510px;
    // padding-top: 2.5vh;
    // padding-left: 1.5vw;
}


.about-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41vw;
    height: 450px;
}

.about-title {

    color: $primary-color;
    font-family: "Noto Sans";
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about-body {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 2rem;
}

.about-button {
    width: 165px;
    height: 50px;
    color: $primary-color;
    border: 3px solid $primary-color;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: white;
}

//                              MEDIA

@media (max-width: 1366px) {
    .about-section {
        padding: 50px 7vw;
        height: 660px;
    }
    .about-text-wrapper {
        height: 440px;
    }
    .about-body {
        line-height: 1.35rem;
    }
}

@media (max-width: 1024px) {
    .about-section {
        padding: 75px 3vw;
        height: fit-content
    }
    .about-img-wrapper{
        height: 400px;
    }
    .about-pattern {
        width: 35vw;
        height: 350px;
    }

    .about-img {
        width: 36vw;   
        height: 350px; 
    }

    .about-text-wrapper {
        width: 55vw;
        min-height: 350px;
        height: fit-content;
    }

    .about-title{
        font-size: 1.8rem;
        font-family: Muller;
        font-weight: 600;
    }

    .about-body {
        font-size: 0.9rem;
        font-family: Muller;
        font-weight: 500;
        line-height: 1.3rem;
    }

    .br {
        display: none;
    }
}

@media (max-width: 750px) {
    .about-section {
        padding: 0vh 7vw;
    }

    .about-pattern {
        display: none;
    }
    .about-img-wrapper {
        display: none;
    }
    .about-img {
        display: none;
    }
    .about-section-wrapper{
        height: 420px;
    }
    .about-text-wrapper {
        padding: 30px 0;
        align-items: center;
        width: 100%;
        height: 100%;   
        text-align: center;
    }

    .about-title{
        font-size: 1.4rem;
        font-family: "NotoSans", sans-serif;
        font-weight: 700;
    }

    .about-body {
        font-size: 0.9rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }

    .br {
        display: none;
    }
}

@media (max-width: 580px) {
    .about-section-wrapper {
        height:  500px;
    }
}

//                              CONTACT-SECTION STYLES

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    background-color: $primary-color;
    background-image: url("../public/svg/contact_building_1.svg"), url("../public/svg/contact_building_2.svg");
    background-position: bottom -10px left 5vw, bottom -10px right 7vw;
    background-size: 28vw, 20vw;
    background-repeat: no-repeat;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 70%;
    color: #FEFEFE;
}

.contact-form-title {
    color: #FEFEFE;
    text-align: center;
    font-family: Noto Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: fit-content;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 415px;
    gap: 20px
}

.contact-form-input {
    outline: none;
    border: none;    
    width: 415px;
    height: 50px;
    padding: 30px;
    color: #182B5A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-form-checkbox {
    display: flex;
    align-items: center;
    gap: 10px
}

.checkbox {
    height: 24px;
    width: 24px;
    accent-color: #081b4b;
    cursor: pointer;
    border-radius: none;
}

.checkbox-text {
    color: #FEFEFE;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkbox-text span {
    text-decoration-line: underline;
}

.submit {
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: 3px solid #FEFEFE;
    color: #FEFEFE;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    height: 50px;
}




::placeholder {
    color: #000;
    opacity: 1
}

//                              MEDIA

@media (max-width: 1366px) {
    .contact-form-title {
    font-family: Muller;
    font-size: 2rem;
    font-weight: 500;
    }
}

@media (max-width: 1024px) {
    .contact-form-title {
    font-family: Noto Sans;
    font-size: 1.4rem;
    font-weight: 700;
    }
}

@media (max-width: 480px) {
    .contact-section {
        background-image: none;
    }
    .form-wrapper {
        width: 90%;
    }
    .contact-form-input {
        width: 80vw;
    }
}


//                              MAP-SECTION STYLES

.map-section {
    display: flex;
    max-width: 100vw;
    height: 400px;
}

.map {
    width: 50vw;
    height: 400px;
}

.info-title {
    color: #182B5A;
    font-family: Noto Sans;
    font-size: 2.25rem;
    width: 40vw;
    font-weight: 700;
    margin-bottom: 1vw;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.info-wrapper {
    display: flex;
    align-items: center;
}

.contact-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25vw;
    height: 180px;
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
}

.contact-info-svg{
    height: 25px;
    width: 25px;
}


.company-info-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
    color: #000;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    height: 160px;
    width: 15vw;
}

.inn, .bic, .okpo, .ogrn{
    color: $primary-color;
}

.inn {
    grid-row: 1;
    grid-column: 1;
}
.bic {
    grid-row: 2;
    grid-column: 1;
}
.okpo {
    grid-row: 3;
    grid-column: 1;
}
.ogrn {
    grid-row: 4;
    grid-column: 1;
}

.inn-body {
    grid-row: 1;
    grid-column: 2;
}
.bic-body {
    grid-row: 2;
    grid-column: 2;
}
.okpo-body {
    grid-row: 3;
    grid-column: 2;
}
.ogrn-body {
    grid-row: 4;
    grid-column: 2;
}

//                              MEDIA

@media (max-width: 1825px) {
    .map-section {
        height: 600px;
    }
    .map {
        height: 600px;
    }
    .info-wrapper{
        flex-direction: column;
        align-items: start;
        width: 40vw;
    }
    .info-title{
        font-size: 2rem;
    }
    .company-info-wrapper {
        grid-template-columns: 30% 70%;
    }
}

@media (max-width: 1366px) {
    .info-title{
        font-size: 1.5rem;
    }
    
    .contact-info-wrapper{
        width: 40vw;
    }
    .company-info-wrapper{
        width: 30vw;
        grid-template-columns: 5vw 25vw;
    }
}

@media (max-width: 1024px) {
    .map-section {
        flex-direction: column-reverse;
        width: 100vw;
        height: 620px;
    }
    .map {
        height: 300px;
        width: 100vw;
    }
    .info-section {
        width: 100vw;
        height: 320px;
    }
    .contact-info{
        font-size: 0.8rem;    
    }
    .contact-info-svg{
        width: 20px;
    }
    .company-info-title{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .info-wrapper{
        flex-direction: row;
        width: 70%;
    }
    .info-title{
        font-size: 1.5rem;
        width: 60vw;
        text-align: center;
        margin-bottom: 30px;
    }
    .contact-info-wrapper{
        width: 40vw;
        height: 150px;
    }
    .company-info-wrapper{
        font-size: 0.8rem;
    }
    .inn, .bic, .okpo, .ogrn {
        font-weight: 500;
    }
}

@media (max-width: 810px) {
    .company-info-wrapper{
        width: 40vw;
        grid-template-columns: 20% 80%;
    }
}

@media (max-width: 480px) {
    .map-section {
        height: 700px;
    }
    .map {
        height: 300px;
    }
    .info-section {
        height: 400px;
    }
    .info-title{
        font-size: 1rem;
        width: 80vw;
        text-align: center;
        margin-bottom: 20px;
    }
    .info-wrapper{
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .contact-info{
        justify-content: center;
    }
    .contact-info-wrapper{
        width: 100%;
    }
    .company-info-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

//                              FOOTER STYLES

.footer {
    width: 100%;
    height: 270px;
    display: flex;
    background-color: $primary-color;
    background-image: url("../public/svg/footer.svg");
    align-items: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 220px;
    margin-left: 100px;
}

.footer-text {
    color: #FEFEFE;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .footer-wrapper {
        margin-left: 30px;
    }
    .footer-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 700px) {
    .footer{
        padding: 25px;
    }
    .footer-wrapper{
        margin: 0;
    }
    .footer-text {
        text-align: center;

    }
}