@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap");
@font-face {
  font-family: "LetoSans";
  src: url("../public/fonts/LetoSans/LetoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Muller";
  font-weight: 400;
  src: url("../public/fonts/Muller/MullerRegular.woff2") format("woff2");
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  src: url("../public/fonts/Muller/MullerMedium.woff2") format("woff2");
}
@font-face {
  font-family: "Muller";
  font-weight: 600;
  src: url("../public/fonts/Muller/MullerBold.woff2") format("woff2");
}
* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 100px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-title {
  margin-left: 1.25rem;
  color: #182B5A;
  font-family: "LetoSans", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-btn {
  color: #000;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-left: 3rem;
}

.icon {
  width: 5.4rem;
  display: none;
}

@media (max-width: 1100px) {
  .header {
    padding: 5px 40px;
  }
  .nav-btn {
    margin-left: 2rem;
  }
}
@media (max-width: 1024px) {
  .nav-btn {
    font-size: 0.9rem;
  }
}
@media (max-width: 890px) {
  .icon {
    display: inline-flex;
  }
  .nav {
    display: none;
  }
}
.main-banner {
  margin-top: 86px;
  background: url("../public/img/giant-building-with-sun.png") lightgray 50%/cover no-repeat;
  max-width: 1920px;
  height: 81vh;
  padding: 25vh 0px 50px 100px;
}

.main-banner-wrapper {
  width: 57rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-banner-title {
  color: #182B5A;
  font-family: Noto Sans;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-banner-button {
  margin-top: 20px;
  font-family: "LetoSans", sans-serif;
  color: #182B5A;
  border: 3px solid #182B5A;
  background: none;
  width: 15rem;
  height: 50px;
}

.main-banner-slider {
  width: 170px;
  height: 4px;
}

@media (max-width: 1366px) {
  .main-banner-wrapper {
    width: 44rem;
  }
  .main-banner-title {
    font-size: 2rem;
  }
}
@media (max-width: 890px) {
  .main-banner {
    padding: 25vh 0;
  }
  .main-banner-wrapper {
    width: 100vw;
    height: 50vh;
    align-items: center;
  }
  .main-banner-title {
    width: 30rem;
  }
  .main-banner-title-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .main-banner {
    display: flex;
    height: 40vh;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .main-banner-wrapper {
    width: 100%;
    height: 50%;
    align-items: center;
  }
  .main-banner-title {
    font-size: 1rem;
    width: 50vw;
  }
  .main-banner-title-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .main-banner-button {
    width: 75%;
    height: 40px;
  }
}
.estate-banner {
  display: flex;
  background: url(../public/svg/estate_pattern.svg) #182B5A no-repeat 100%;
  height: 740px;
}

.estate-office-filler {
  z-index: 3;
  background-color: #182B5A;
  width: fit-content;
  height: fit-content;
  clip-path: polygon(0 0, 100% 0, 82.5% 100%, 0% 100%);
}

.estate-office {
  filter: opacity(0.1);
  height: 740px;
  width: 55vw;
}

.estate-line {
  z-index: 5;
  position: relative;
  margin-left: -188px;
  height: 744px;
}

.estate-house {
  z-index: 4;
  position: relative;
  right: 180px;
  width: 53.2vw;
  height: 740px;
  clip-path: polygon(14% 18%, 100% 18%, 100% 100%, 0% 100%);
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 7vw;
  height: 80vh;
}

.about-img-wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 12;
}

.about-pattern {
  width: 40vw;
  background-color: #182B5A;
  grid-row: 1;
  grid-column: 1;
}

.about-img {
  width: 41vw;
  grid-row: 1;
  grid-column: 1;
  padding-top: 2.5vh;
  padding-left: 1.5vw;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 41vw;
  height: 45vh;
}

.about-title {
  color: #182B5A;
  font-family: "Noto Sans";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about-body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 2rem;
}

.about-button {
  width: 165px;
  height: 50px;
  color: #182B5A;
  border: 3px solid #182B5A;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: white;
}

@media (max-width: 1366px) {
  .about-section {
    padding: 4vh 7vw;
    height: 90vh;
  }
  .about-text-wrapper {
    height: 70vh;
  }
}
@media (max-width: 1024px) {
  .about-section {
    padding: 10vh 3vw;
    height: fit-content;
  }
  .about-pattern {
    width: 35vw;
  }
  .about-img {
    width: 36vw;
  }
  .about-text-wrapper {
    width: 55vw;
    min-height: 40vh;
    height: fit-content;
  }
  .about-title {
    font-size: 1.8rem;
    font-family: Muller;
    font-weight: 600;
  }
  .about-body {
    font-size: 0.9rem;
    font-family: Muller;
    font-weight: 500;
    line-height: 1.3rem;
  }
  .br {
    display: none;
  }
}
@media (max-width: 480px) {
  .about-section {
    padding: 0vh 7vw;
  }
  .about-pattern {
    display: none;
  }
  .about-img {
    display: none;
  }
  .about-text-wrapper {
    padding: 5vh 0;
    align-items: center;
    width: 100%;
    height: 80%;
    text-align: center;
  }
  .about-title {
    font-size: 1.4rem;
    font-family: "NotoSans", sans-serif;
    font-weight: 700;
  }
  .about-body {
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .br {
    display: none;
  }
}
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #182B5A;
  background-image: url("../public/svg/contact_building_1.svg"), url("../public/svg/contact_building_2.svg");
  background-position: bottom left 5vw, bottom right 7vw;
  background-size: 28vw, 20vw;
  background-repeat: no-repeat;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 45vh;
  width: 70%;
  color: #FEFEFE;
}

.contact-form-title {
  color: #FEFEFE;
  text-align: center;
  font-family: Noto Sans;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: fit-content;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 415px;
  gap: 20px;
}

.contact-form-input {
  outline: none;
  border: none;
  width: 415px;
  height: 50px;
  padding: 30px;
  color: #182B5A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  height: 24px;
  width: 24px;
  accent-color: #081b4b;
  cursor: pointer;
  border-radius: none;
}

.checkbox-text {
  color: #FEFEFE;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkbox-text span {
  text-decoration-line: underline;
}

.submit {
  text-transform: uppercase;
  background: none;
  border: 3px solid #FEFEFE;
  color: #FEFEFE;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50%;
  height: 50px;
}

::placeholder {
  color: #000;
  opacity: 1;
}

@media (max-width: 1366px) {
  .contact-form-title {
    font-family: Muller;
    font-size: 2rem;
    font-weight: 500;
  }
}
@media (max-width: 1024px) {
  .contact-form-title {
    font-family: Noto Sans;
    font-size: 1.4rem;
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  .contact-section {
    background-image: none;
  }
  .form-wrapper {
    width: 90%;
  }
  .contact-form-input {
    width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */
